<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:insert="fragments :: common_header(~{}, ~{})">
    </head>

    <body class="fondo">
        <header th:replace="fragments :: navbar"></header>

        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <table id="usuariosTabla" class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Dni</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Login</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, rowStat: ${users}"
                            th:class="${rowStat.odd} ? 'table-warning' : 'table-light'">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.dni}"></td>
                            <td th:text="${user.nombre}"></td>
                            <td th:text="${user.apellidos}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.login}"></td>
                            <td class="text-center"><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-success btn-xs" th:href="@{'/users/' + ${user.id} + '/update'}" th:text="'Editar'"></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-danger btn-xs" th:href="@{'/users/' + ${user.id} + '/delete'}" th:text="'Eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>

                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" style="text-align: left;">
                                    <a class="btn btn-lg btn-block btn-primary" id="nuevoUsuario" th:text="'Nuevo Usuario'" th:href="@{/users/add}"/>
                                </td>
                            </tr>

                        </tfoot>
                    </table>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
        <!-- Footer -->
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>