<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:insert="fragments :: common_header(~{}, ~{})">
    </head>

    <body class="fondo">
        <header th:replace="fragments :: navbar"></header>

        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <table id="usuariosTabla" class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th></th>
                            <th>Nombre</th>
                            <th>Puntuacion</th>
                            <th>Votos</th>
                            <th>Publicacion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="game : ${games}" class="table-light">
                            <td class="text-center"><a th:text="${game.gameId}" th:href="@{/juegos/} + ${game.gameId}"></a></td>
                            <td><img th:src="${game.thumbnail}"></td>
                            <td th:text="${game.nombre}"></td>
                            <td th:text="${game.puntuacion}"></td>
                            <td th:text="${game.votos}"></td>
                            <td th:text="${game.publicacion}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" style="text-align: left;">
                                <a class="btn btn-lg btn-block btn-primary" id="nuevoUsuario" th:text="'Nuevo Usuario'" th:href="@{/users/add}"/>
                            </td>
                        </tr>

                        </tfoot>
                    </table>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
        <!-- Footer -->
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>