<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:insert="fragments :: common_header(~{}, ~{::script})">
        <script th:src="@{/js/login.js}"></script>
    </head>

    <body class="fondo">
        <header th:replace="fragments :: navbar"></header>

        <div class="jumbotron bg-danger text-white">

            <div class="text-center">
                Los sentimos <span th:text="${#authentication.name}"></span>,
                NO se encontró la página solicitada.
                </h5>
                <div class="py-3">
                    <a th:href="@{/}" class="btn btn-outline-light" role="button">Ir al inicio</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer th:replace="fragments :: footer" th:classappend="fixed-bottom"></footer>
    </body>
</html>