<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:insert="fragments :: common_header(~{}, ~{::script})">
        <script th:src="@{/js/login.js}"></script>
    </head>

    <body class="fondo">
        <header th:replace="fragments :: navbar"></header>

        <div class="card bg-danger text-white">
            <div class="card-header tex-center">¡Acceso Denegado!</div>
            <div class="card-body text-center">
                <h5 class="card-title">
                    Lo sentimos <span th:text="${#authentication.name}"></span>,
                    NO tienes permisos para acceder a este recurso.
                </h5>
                <div class="py-3">
                    <a th:href="@{/}" class="btn btn-outline-light" role="button">Ir al inicio</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>