<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <head th:replace="fragments :: common_header(~{::link}, ~{})">
    <link th:href="@{/css/full-slider.css}" rel="stylesheet">
  </head>

  <body>

    <header th:replace="fragments :: navbar"></header>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('img/agricola.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Agrícola</h3>
              <!--<p>This is a description for the first slide.</p>-->
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('img/power.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Power Grid</h3>
              <!--<p>This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('img/puertorico.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Puerto Rico</h3>
              <!--<p>This is a description for the third slide.</p>-->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>Playbook</h1>
        <p>La página de los juegos de mesa</p>
      </div>
    </section>

    <!-- Footer -->
    <footer th:replace="fragments :: footer"></footer>

  </body>

</html>
