<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:insert="fragments :: common_header(~{::link}, ~{})">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    </head>

    <body class="fondo">
        <header th:replace="fragments :: navbar"></header>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 mx-auto">

                            <div class="card bg-light">
                                <article class="card-body mx-auto" style="max-width: 400px;">
                                    <h4 class="card-title mt-3 text-center">Login</h4>
                                    <p class="text-center">Accede con tu cuenta de</p>
                                    <p>
                                        <a th:href="@{/login/github}" class="btn btn-block btn-github"> <i class="fab fa-github"></i>   Login via Github</a>
                                        <a th:href="@{/login/facebook}" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via Facebook</a>
                                    </p>
                                    <p class="divider-text">
                                        <span class="bg-light">O usa tu cuenta</span>
                                    </p>
                                    <form th:action="@{/login}" role="form" autocomplete="off" id="formLogin" method="POST">
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                            </div>
                                            <input name="username" id="username" class="form-control" placeholder="Login" type="text">
                                        </div> <!-- form-group// -->
                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            </div>
                                            <input name="password" id="password" class="form-control" placeholder="Password" type="password">
                                        </div> <!-- form-group// -->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                                        </div> <!-- form-group// -->
                                        <p class="text-center">¿No tienes cuenta? <a th:href="@{/registro}">Registrate</a> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>