<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:insert="fragments :: common_header(~{}, ~{})">
    </head>

    <body class="fondo">
        <nav th:replace="fragments :: navbar"></nav>

        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out"/>
                        </form>
                    </div>
                    <!--/row-->

                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
        <!-- Footer -->
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>