<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Playbook password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p
            th:if="${!#strings.isEmpty(user.nombre)}"
            th:text="#{email.reset.greeting(${user.nombre})}">
            Dear
        </p>
        <p
            th:if="${#strings.isEmpty(user.login)}"
            th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            For your Playbook account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/password/reset/finish?key=${user.resetKey}|}"
               th:text="#{email.reset.link}">Reset Link</a>
        </p>
        <p th:text="#{email.reset.text2(${user.login})}">
            Tu login is:
        </p>
        <p>
            <span th:text="#{email.reset.text3}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Playbook.</em>
        </p>
    </body>
</html>
